header {
	height: 20px;
	width: 100%;
	background-color: #1a1a1c;
	-webkit-app-region: drag;
	display: block;
	position: fixed;
}

.menuButton {
	-webkit-app-region: no-drag;
	float: right;
	height: 20px;
}
.menuButton Button {
	height: 20px;
}


.headerAppLogo {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-app-region: no-drag;
    position: fixed;
    z-index: 100;
    height: 20px;
    width: 30px;
    display: block;

    /*animation code*/
    animation: App-logo-spin infinite 5s linear;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
   background-color: #ffffff;

}