header {
	height: 20px;
	width: 100%;
	background-color: gray;
	-webkit-app-region: drag;
	display: block;
	position: inherit;
}

.menuButton {
	-webkit-app-region: no-drag;
	float: right;
	height: 20px;
}
.menuButton Button {
	height: 20px;
}
